<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--Configurações Globais-->
    <add key="NomeOT" value="World Of Gaia"/>
    <add key="OTClient" value="False"/>
    
    <!--Configurações de Identificação-->
    <add key="Nome" value="Yuuya"/>
    <add key="Email" value="jairgameplay17@gmail.com"/>
    
    <!--Configurações de Atualização-->
    <add key="gitRepositorio" value="https://github.com/f1nal1ty/OTFera-Cliente.git"/>
    <add key="urlNoticia" value="file:///C:/xampp/htdocs/TempestGames/World%20Of%20Gaia/html/songs.html"/>
    
    <!--Configurações de Sprites Maiores que 100Mb-->
    <add key="DirSprite" value=""/> <!--Vazio se as sprites ficarem na raiz do cliente.-->
    
    <!--Configurações de Personalização - Imagens-->
    <add key="Background" value=""/>
    <add key="BtnFechar" value="fecha"/>
    <add key="BtnMinimizar" value="minimizar"/>

    <!--Configurações de Personalização - Cores-->
    <add key="EsquemaCor" value="transparent"/>

  </appSettings>
</configuration>